<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--&lt;!&ndash;配置全局属性&ndash;&gt;-->
    <!--<settings>-->
        <!--&lt;!&ndash;设置主键的自增属性&ndash;&gt;-->
        <!--<setting name="useGeneratedKeys" value="true"/>-->
    <!--</settings>-->
</configuration>